body {
  font-family: "arial";
  background-color: #f8fbf8;
}

/* header　---------------------------------- */
header {
  background-color: rgba(250, 250, 250, 0.8);
  color: grey;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.header-title {
  display: inline-block;
  font-size: 50px;
  margin: 10 50 0 30;
}

.header-subtitle {
  display: inline-block;
  font-size: 25px;
}

/* introcution ----------------------------- */
.introduction {
  text-align: center;
  background-image: url(https://ohh.okinawa/common/images/pages/about/about_01.png);
  background-size: 100% 100%;
  height: 750px;
  color: white;
}

.introduction-title {
  display: inline-block;
  margin-top: 300px;
  font-size: 50px;
}

/* explanation ------------------------------------- */
.explanation {
  text-align: center;
  height: 750px;
  background-image: url(http://www.tabirai.net/sightseeing/tatsujin/img/0000391/tat_col_1.jpg?uid=20181002210501);
  background-size: 100% 100%;
  color: white;
}

.explanation-title {
  font-size: 50px;
  display: inline-block;
  margin: 50px 0px;
  padding: 5px 20px;
  border-radius: 15px;
}

.explanation-text {
  width: 1100px;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 15px;
}

/* recommendations ----------------------------------- */
.recommendation {
  width: 1100px;
  margin: 50px auto;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding: 0 25 0 25;
}
.recommendation-title {
  font-size: 50px;
  border: inset 15px grey;
  font-weight: bold;
}

.recommendations img {
  height: 550;
  width: 1100px;
}

.recommendation h1 {
  background-color: rgba(128, 128, 128, 0.8);
  border-radius: 15px;
  color: white;
  padding-left: 25px;
}

.gate2 {
  margin-top: 75px;
}

.parkavenue {
  margin-top: 75px;
}

.okinawazoo {
  margin-top: 75px;
}

.botanicalgarden {
  margin-top: 75px;
}

/* thankyou ------------------------------------------ */
.thankyou {
  background-color: rgba(128, 128, 128, 0.8);
  height: 350px;
  text-align: center;
  color: white;
  margin-top: 150px;
}

.thankyou-text {
  font-size: 50px;
  text-height: 350px;
  display: inline-block;
  margin: 125px 0;
}

/* footer -------------------------------------- */
footer {
  background-color: rgba(250, 250, 250, 0.8);
  color: grey;
  height: 50px;
}

.footer-left {
  display: inline-block;
  margin: 15 0 0 20;
}

.footer-right {
  display: inline-block;
  float: right;
  margin: 12 20 0 0;
}
